<div class="geral">
    <div class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/drones-e-a-alta-resolucao-de-imagens-1024x597.png.webp"
                        class="d-block w-100" alt="...">
                    <h2 class="carousel-title">Mapeamento</h2>
                    <h5 class="carousel-subtitle">Mapeamento com Drone</h5>
                    <p class="carousel-text">Periometria para precisão nas aplicações</p>
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/pulverização.jpg" class="d-block w-100" alt="...">
                    <h2 class="carousel-title">Pulverização Agrícola</h2>
                    <h5 class="carousel-subtitle">Serviço de pulverização</h5>
                    <p class="carousel-text">ALTA TECNOLOGIA NA PULVERIZAÇÃO AGRÍCOLA!</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="titulo">
        <h4>Máquinas Agrícolas </h4>
        <p>Locação de máquinas para todos os tipos de serviços, seja para pequenos ou grandes hectares</p>
    </div>
    <div class="conteudo">
        <img src="../../../../assets/Trator.png" alt="Imagem de Máquina Agrícola" class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Carregadora Frontal 563SL com auto-nivelamento mecânico do sistema</h5>
            <p>Tempos de operação são minimizados e mantém uma produtividade mais elevada que a carga balde, evitando o
                desperdício. As carregadoras frontais John Deere podem te ajudar nas mais diversas atividades dentro da
                sua propriedade, com ergonomia, segurança, facilidade de acoplamento e durabilidade.</p>
        </div>
    </div>
    <div class="servico">
        <img src="../../../../assets/TratorCarregamento-removebg-preview.png" alt="Imagem de Máquina Agrícola"
            class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Para todo tipo de trabalho com conforto e segurança.</h5>
            <p>O trator 3036EN foi projetado para o segmento de culturas especiais e operações que necessitam de um
                trator
                com dimensões reduzidas. Podendo ser usado também em pequenas propriedades, chácaras, sítios e
                condomínios
                residenciais.Com um motor de 36cv, PTO econômica e raio de giro reduzido, este trator é a combinação
                perfeita de potência, economia e versatilidade.Surpreenda-se!!</p>
        </div>
    </div>
    <div class="conteudo">
        <img src="../../../../assets/download-removebg-preview.png" alt="Imagem de Máquina Agrícola"
            class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Ótima opção para quem quer melhorar o rendimento do seu dia a dia.</h5>
            <p>As carregadoras frontais John Deere foram desenhadas para melhorar o seu rendimento diário. Seja
                carregando materiais, transportando equipamentos, melhorando estradas ou mantendo sua propriedade,
                uma carregadora John Deere pode ajudá-lo a obter muito mais do seu dia.</p>
        </div>
    </div>
    <div class="servico">
        <img src="../../../../assets/Trator de esteira.png" alt="Imagem de Máquina Agrícola" class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Força e robustez para todas as áreas.</h5>
            <p>O trator de esteira é a escolha ideal para quem busca uma máquina potente, durável e eficiente. Com suas
                características avançadas e benefícios comprovados, ele proporciona um excelente retorno sobre o
                investimento, garantindo a satisfação e o sucesso de seus projetos.</p>
        </div>

    </div>