<div class="geral">
    <div class="carousel">
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/Carrousel2.webp"
                        class="d-block w-100" alt="...">
                    <h2 class="carousel-title">Mapeamento</h2>
                    <h5 class="carousel-subtitle">Mapeamento com Drone</h5>
                    <p class="carousel-text">Periometria para precisão nas aplicações</p>
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/pulverização.jpg" class="d-block w-100" alt="...">
                    <h2 class="carousel-title">Pulverização Agrícola</h2>
                    <h5 class="carousel-subtitle">Serviço de pulverização</h5>
                    <p class="carousel-text">ALTA TECNOLOGIA NA PULVERIZAÇÃO AGRÍCOLA!</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="titulo">
        <h4>Máquinas Agrícolas </h4>
        <p>Locação de máquinas para todos os tipos de serviços, seja para pequenos ou grandes hectares</p>
    </div>
    <div class="conteudo">
        <img src="../../../../assets/Trator.png" alt="Imagem de Máquina Agrícola" class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Carregadora Frontal 563SL com auto-nivelamento mecânico do sistema</h5>
            <p>Tempos de operação são minimizados e mantém uma produtividade mais elevada que a carga balde, evitando o
                desperdício. As carregadoras frontais John Deere podem te ajudar nas mais diversas atividades dentro da
                sua propriedade, com ergonomia, segurança, facilidade de acoplamento e durabilidade.</p>
        </div>
    </div>
    <div class="servico">
        <img src="../../../../assets/TratorCarregamento-removebg-preview.png" alt="Imagem de Máquina Agrícola"
            class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Para todo tipo de trabalho com conforto e segurança.</h5>
            <p>O trator 3036EN foi projetado para o segmento de culturas especiais e operações que necessitam de um
                trator
                com dimensões reduzidas. Podendo ser usado também em pequenas propriedades, chácaras, sítios e
                condomínios
                residenciais.Com um motor de 36cv, PTO econômica e raio de giro reduzido, este trator é a combinação
                perfeita de potência, economia e versatilidade.Surpreenda-se!!</p>
        </div>
    </div>
    <div class="conteudo">
        <img src="../../../../assets/download-removebg-preview.png" alt="Imagem de Máquina Agrícola"
            class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Ótima opção para quem quer melhorar o rendimento do seu dia a dia.</h5>
            <p>As carregadoras frontais John Deere foram desenhadas para melhorar o seu rendimento diário. Seja
                carregando materiais, transportando equipamentos, melhorando estradas ou mantendo sua propriedade,
                uma carregadora John Deere pode ajudá-lo a obter muito mais do seu dia.</p>
        </div>
    </div>
    <div class="servico">
        <img src="../../../../assets/Trator de esteira.png" alt="Imagem de Máquina Agrícola" class="imagem-quadrada">
        <div class="texto-lateral">
            <h5>Força e robustez para todas as áreas.</h5>
            <p>O trator de esteira é a escolha ideal para quem busca uma máquina potente, durável e eficiente. Com suas
                características avançadas e benefícios comprovados, ele proporciona um excelente retorno sobre o
                investimento, garantindo a satisfação e o sucesso de seus projetos.</p>
        </div>
    </div>
    <div class="form-orcamento">
        <h2>Envie seu orçamento</h2>
        <form action="#" method="post">
            <!-- Campo para Nome Completo -->
            <div class="form-group">
                <label for="nome-completo">Nome Completo:</label>
                <input type="text" id="nome-completo" name="nome-completo"   placeholder="Nome Completo"required>
            </div>
    
            <!-- Campos de Email e Telefone Lado a Lado -->
            <div class="form-group-row">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"  placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" name="telefone"  placeholder="Telefone" required>
                </div>
            </div>
    
            <!-- Seletor entre Produtos e Serviços -->
            <div class="form-group">
                <label for="seletor">Deseja orçar:</label>
                <select id="seletor" name="seletor">
                    <option value="produtos">Produtos</option>
                    <option value="servicos">Serviços</option>
                    <option value="ambos">Ambos</option>
                </select>
            </div>
    
            <!-- Campo para Descrição/Observação -->
            <div class="form-group">
                <label for="descricao">Descrição/Observação do pedido:</label>
                <textarea id="descricao" name="descricao" rows="4" required></textarea>
            </div>
    
            <!-- Botões de Enviar e Cancelar -->
            <div class="form-buttons">
                <button type="submit" class="btn-enviar">Enviar</button>
                <button type="reset" class="btn-cancelar">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="contato-mapa">
        <!-- Div para o contato -->
        <div class="contato">
            <h6>Fale conosco</h6>
            <div class="info-contato">
                <!-- Ícone de endereço e texto -->
                <div class="contato-item">
                    <i class="fa fa-map-marker"></i>
                    <p>Endereço:  R. Paulo Kraisch, 117 - Vila do Salto, Luiz Alves - SC, 89128-000</p>
                </div>
                <!-- Ícone de WhatsApp e texto -->
                <div class="contato-item">
                    <i class="fa fa-whatsapp"></i>
                    <p>WhatsApp: (47) 98765-4321</p>
                </div>
                <!-- Ícone de email e texto -->
                <div class="contato-item">
                    <i class="fa fa-envelope"></i>
                    <p>Email:alves</p>
                </div>
                <!-- Ícone de horário e texto -->
                <div class="contato-item">
                    <i class="fa fa-clock-o"></i>
                    <p>Horário: Seg-Sex, 08:00 - 18:00</p>
                </div>
            </div>
        </div>
    
        <!-- Div para o Google Maps (futura API) -->
        <div class="mapa">
            <p>Aqui entrará o Google Maps</p>
        </div>
    </div>
</div>