<div class="login-container">
    <h2>AgroSoft</h2>
    <div class="login-box">
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required [(ngModel)]="login">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required [(ngModel)]="senha">

            <button type="submit" (click)="realizarLogin()">Login</button>
            <button routerLink="/main">Landing Page</button>
        </form>
    </div>
</div>

