<html>

<head>
    <title>
        AgroSoft
    </title>
</head>

<body>
    <div class="header">
        <h1>
            AgroSoft
        </h1>
        <div class="user-info">
            <img alt="User profile picture" height="50"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-m6E2iBky6Eu1vjuvcEzHndEt.png?st=2024-10-01T18%3A33%3A34Z&amp;se=2024-10-01T20%3A33%3A34Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-10-01T03%3A05%3A21Z&amp;ske=2024-10-02T03%3A05%3A21Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=S1IawdspZ0EMjJn4m2tN2gzMWCuVS3CXQ1ACdhV0Ngc%3D"
                width="50" />
            <span>
                XXXXXX
            </span>
            <i class="fas fa-cog">
            </i>
        </div>
    </div>
    <div class="nav">
        <button>
            Dashboard
        </button>
        <button>
            Orçamento
        </button>
        <div class="dropdown">
            <button>
                Gestão
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Vendedores</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="filter">
            <i class="fas fa-filter">
            </i>
            <span>
                Filtrar (7 dias)
            </span>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                           Tipo
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Imagem
                        </th>
                        <th>
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #20462
                        </td>
                        <td>
                            Hat
                        </td>
                        <td>
                            Matt Dickerson
                        </td>
                        <td>
                            R$
                        </td>
                        <td>
                            <img alt="Product image" height="50"
                                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-GzSXHwAPb6HEA5RvJgE0g3pL.png?st=2024-10-01T18%3A33%3A31Z&amp;se=2024-10-01T20%3A33%3A31Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-10-01T05%3A49%3A32Z&amp;ske=2024-10-02T05%3A49%3A32Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=PpLa2Pk66cKZ8V6emivpRl2W%2BjupZNi/TrI0v4OR1wI%3D"
                                width="50" />
                        </td>
                        <td class="actions">
                            <button class="details">
                                Detalhes
                            </button>
                            <button class="edit">
                                <i class="fas fa-edit">
                                </i>
                            </button>
                            <button class="delete">
                                <i class="fas fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #18933
                        </td>
                        <td>
                            Laptop
                        </td>
                        <td>
                            Wiktoria
                        </td>
                        <td>
                            R$
                        </td>
                        <td>
                            <img alt="Product image" height="50"
                                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-GzSXHwAPb6HEA5RvJgE0g3pL.png?st=2024-10-01T18%3A33%3A31Z&amp;se=2024-10-01T20%3A33%3A31Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-10-01T05%3A49%3A32Z&amp;ske=2024-10-02T05%3A49%3A32Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=PpLa2Pk66cKZ8V6emivpRl2W%2BjupZNi/TrI0v4OR1wI%3D"
                                width="50" />
                        </td>
                        <td class="actions">
                            <button class="details">
                                Detalhes
                            </button>
                            <button class="edit">
                                <i class="fas fa-edit">
                                </i>
                            </button>
                            <button class="delete">
                                <i class="fas fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45169
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            Trixie Byrd
                        </td>
                        <td>
                            R$
                        </td>
                        <td>
                            <img alt="Product image" height="50"
                                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-GzSXHwAPb6HEA5RvJgE0g3pL.png?st=2024-10-01T18%3A33%3A31Z&amp;se=2024-10-01T20%3A33%3A31Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-10-01T05%3A49%3A32Z&amp;ske=2024-10-02T05%3A49%3A32Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=PpLa2Pk66cKZ8V6emivpRl2W%2BjupZNi/TrI0v4OR1wI%3D"
                                width="50" />
                        </td>
                        <td class="actions">
                            <button class="details">
                                Detalhes
                            </button>
                            <button class="edit">
                                <i class="fas fa-edit">
                                </i>
                            </button>
                            <button class="delete">
                                <i class="fas fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45169
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            Trixie Byrd
                        </td>
                        <td>
                            R$
                        </td>
                        <td>
                            <img alt="Product image" height="50"
                                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-GzSXHwAPb6HEA5RvJgE0g3pL.png?st=2024-10-01T18%3A33%3A31Z&amp;se=2024-10-01T20%3A33%3A31Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-10-01T05%3A49%3A32Z&amp;ske=2024-10-02T05%3A49%3A32Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=PpLa2Pk66cKZ8V6emivpRl2W%2BjupZNi/TrI0v4OR1wI%3D"
                                width="50" />
                        </td>
                        <td class="actions">
                            <button class="details">
                                Detalhes
                            </button>
                            <button class="edit">
                                <i class="fas fa-edit">
                                </i>
                            </button>
                            <button class="delete">
                                <i class="fas fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="new-item">
                <button>
                    <i class="fas fa-plus">
                    </i>
                </button>
            </div>
        </div>
    </div>
</body>

</html>