<app-cabecalho></app-cabecalho>
<div>

    <div class="content">
        <div class="stats">
            <div class="stat">
                <i class="fas fa-chart-bar">
                </i>
                <h2>
                    10
                </h2>
                <p>
                    Contatos recebidos
                </p>
            </div>
            <div class="stat">
                <i class="fas fa-tasks">
                </i>
                <h2>
                    8
                </h2>
                <p>
                    Ativos realizados
                </p>
            </div>
            <div class="stat">
                <i class="fas fa-tag">
                </i>
                <h2>
                    25
                </h2>
                <p>
                    Produtos vendidos
                </p>
            </div>
            <div class="stat">
                <i class="fas fa-user-plus">
                </i>
                <h2>
                    13
                </h2>
                <p>
                    Serviços realizados
                </p>
            </div>
        </div>
        <div class="chart">
            <h3>
                Orçamentos
            </h3>
            <div class="chart-content">
                <div class="filter">
                    <i class="fas fa-filter">
                    </i>
                    Filtrar (7 dias)
                </div>
                <div class="legend">
                    <span class="blue">
                        <i class="fas fa-circle">
                        </i>
                        Mês passado
                    </span>
                    <span class="green">
                        <i class="fas fa-circle">
                        </i>
                        Este mês
                    </span>
                </div>
            </div>
        </div>
    </div>


</div>