.init {
    border-color: black;
    width: 100vw; /* A largura total da tela */
    background-color: #C3D074; /* Cor de fundo */
    position: relative; 
    top: 50%;
    display: flex; /* Usa flexbox para alinhar os itens lado a lado */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; /* Espaço entre os itens */
    font-family: 'Times New Roman', Times, serif;
}

.titulo {
    width: 45vw; /* Mesmo tamanho da div .carousel */
    height: auto; /* Ajuste a altura automaticamente */
    background-color: #C3D074; /* Cor de fundo para a div título */
    border-radius: 25px; /* Borda arredondada, similar ao carrossel */
    padding: 20px; /* Espaço interno para o conteúdo */
    box-sizing: border-box; /* Inclui padding na largura */
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.titulo h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.titulo p{
   font-size:18px;
   font-family: 'Times New Roman', Times, serif;
}

.carousel {
    width: 45vw; /* Mesmo tamanho que .titulo */
    height: auto;
    border-radius: 25px;
    right: 1vw; /* Ajusta para centralizar */
}
.carousel-inner img {
    border-radius: 25px; /* Arredonda as bordas das imagens */
}
