.footer {
    background-color: #03490E;
    color: #fff;
    padding: 20px;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer-image {
    position: absolute;
    left: 20px;
    top: 70px;
    width: 400px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.footer-image img {
        width: 100%;
        height: 100%;
        object-fit: contain; /* A imagem será ajustada para caber no círculo sem ser cortada */
   
    
}

.footer h4 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.footer p {
    width: 100%; /* Usa toda a largura disponível */
    max-width: 500px; /* Ajusta o máximo de largura para caber 6 linhas */
    line-height: 1.5em; /* Ajusta o espaçamento entre linhas */
    text-align: justify; /* Justifica o texto para uma distribuição igual */
    margin: 20px auto; /* Centraliza o parágrafo */
    display: block;
    white-space: normal; /* Garante que o texto quebre nas palavras */
    overflow: hidden; /* Previne texto extra além das 6 linhas */
}



.social-icons i {
    font-size: 50px; /* Ajusta o tamanho dos ícones */
    color: #fff; /* Cor dos ícones */
    margin: 0 20px; /* Espaçamento entre os ícones */
}



