<div class="footer">
    <div class="footer-content">
        <div class="footer-image">
            <img src="../../../../assets/Agro.jpg" alt="Imagem de Contato">
        </div>
        <h4>Breve História</h4>
        <p>Instalada estrategicamente na Região Sul do país, em Luis Alves, a AgroAlves cresce a cada ano impulsionada
            pelo comprometimento envolvente da empresa com os clientes, por meio da nossa visão empresarial “Clientes
            para uma Vida”, pela qual ganhamos a confiança de nossos clientes ouvindo-os, antecipando às suas
            necessidades e trabalhando para lhes proporcionar mais valias.</p>
            <div class="social-icons">
                <a href="https://wa.me/seu-numero" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://instagram.com/seu-perfil" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://facebook.com/seu-perfil" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            
    </div>
</div>