<div class="geral">
    <div class="titulo">
        <h4> Nossos produtos </h4>
        <p>Nossa linha de biológicos foi criada para apoiar os agricultores a aumentar o desempenho de suas
            propriedades.
            São soluções concebidas com a visão de um futuro agrícola mais tecnológico e produtivo.</p>
    </div>
    <h5 class="fertilizantes">Fertilizantes</h5>
    <br><br>
    <div class="card-container">
        <div class="card card1">
            <img src="../../../../assets/Fertilizante1.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">Hexafull</h6>
                <p class="card-text">Maximize o potencial das suas plantas. Crescimento robusto, defesa poderosa e solo
                    saudável!</p>
                <button class="card-button fertilizantes-btn">Vídeo</button>
            </div>
        </div>
        <div class="card card1">
            <img src="../../../../assets/Fertilizante2 (2).png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">Mais P</h6>
                <p class="card-text"> Otimize a absorção do Fósforo
                    pelas raízes e alcance resultados extraordinários!</p>
                <button class="card-button fertilizantes-btn">Vídeo</button>
            </div>
        </div>
    </div>
    <h5 class="pesticida">Pesticida</h5>
    <div class="card-container">
        <div class="card card2">
            <img src="../../../../assets/Pesticida1.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">Beautop</h6>
                <p class="card-text">Combate eficaz às pragas: BeauTop, a solução natural que preserva sua plantação!!
                </p>
                <button class="card-button pesticida-btn">Vídeo</button>
            </div>
        </div>
        <div class="card card2">
            <img src="../../../../assets/Pesticida2.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">Methawin</h6>
                <p class="card-text">A solução confiável para o controle de pragas da sua plantação !</p>

                <button class="card-button pesticida-btn">Vídeo</button>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card card2">
            <img src="../../../../assets/Pesticida3.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">BeauMetha</h6>
                <p class="card-text">Potencialize seu cultivo com a força da natureza. BeauMetha, o segredo para plantas
                    saudáveis e produtivas.</p>
                <button class="card-button pesticida-btn">Vídeo</button>
            </div>
        </div>
        <div class="card card2">
            <img src="../../../../assets/Pesticida4.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">BT Top</h6>
                <p class="card-text">Proteção natural contra pragas: O poder do BT Top ao seu lado.</p>
                <button class="card-button pesticida-btn">Vídeo</button>
            </div>
        </div>
    </div>
    <h5 class="aditivo-agricola">Aditivo agrícola</h5>
    <div class="card-container">
        <div class="card card3">
            <img src="../../../../assets/Aditivo1.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">Submax</h6>
                <p class="card-text">Proteção biológica para as raízes, com alta eficácia contra nematóides e fungos
                    fitopatogênicos.</p>
                <button class="card-button aditivo-agricola-btn">Vídeo</button>
            </div>
        </div>
        <div class="card card3">
            <img src="../../../../assets/aditivo2.png" alt="Imagem do Card" class="card-img">
            <div class="card-body">
                <h6 class="card-title">BT Top</h6>
                <p class="card-text">Proteção natural contra pragas: O poder do BT Top ao seu lado.</p>
                <button class="card-button aditivo-agricola-btn">Vídeo</button>
            </div>
        </div>
    </div>

</div>