<app-cabecalho></app-cabecalho>
<section>

<main>
    <div class="content">
        <div class="filter">
            <i class="fas fa-filter">
            </i>
            <span>
                Filtrar (7 dias)
            </span>
        </div>
        <div class="new-item">
            <button>
                <i class="fas fa-plus">Novo
                </i>
            </button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Telefone
                        </th>
                        <th>
                            Vendedor
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #20462
                        </td>
                        <td>
                            Hat
                        </td>
                        <td>
                            xxxxxxxxxxxx
                        </td>
                        <td>
                            00000-0000
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Produtos
                        </td>
                        <td class="status">
                            <i class="fas fa-check-circle">
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #18933
                        </td>
                        <td>
                            Laptop
                        </td>
                        <td>
                            xxxxxxxxxxxx
                        </td>
                        <td>
                            00000-0000
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Serviços
                        </td>
                        <td class="status">
                            <i class="fas fa-times-circle">
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45169
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            xxxxxxxxxxxx
                        </td>
                        <td>
                            00000-0000
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Produtos
                        </td>
                        <td class="status">
                            <i class="fas fa-times-circle">
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45169
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            xxxxxxxxxxxx
                        </td>
                        <td>
                            00000-0000
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Serviços
                        </td>
                        <td class="status">
                            <i class="fas fa-check-circle">
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #45169
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            xxxxxxxxxxxx
                        </td>
                        <td>
                            00000-0000
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Produtos
                        </td>
                        <td class="status">
                            <i class="fas fa-check-circle">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
</main>

</section>