.principal{
 background-image: url('../../../../../../assets/Background.png');
    
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px; 
    padding: 20px;
    box-sizing: border-box;
   

}

.text {

    font-family: 'Montserrat', sans-serif;
    font-size: 2em; 
    color: #9AB238;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Exemplo de altura, ajustável conforme necessário */
    margin: 0; /* Remove margem padrão */



}