.header {
    background-color: #a8e6cf;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header h1 {
    font-size: 50px;
    color: #ff6f61;
    margin: 10px;
}
.header .user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}
.header .user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.header .user-info span {
    font-size: 16px;
    color: #000;
}
.header .user-info .fa-cog {
    margin-left: 10px;
    color: #000;
}
.nav {
    background-color: #d3d3d3;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.nav button {
    background-color: #a8e6cf;
    border: 2px solid #ff8b94;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}
.nav button:hover {
    background-color: #ff8b94;
    border-color: #a8e6cf;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    width:100px;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #81c784;
}

.dropdown:hover .dropdown-menu {
    display: block;
}