<div>
    <section>
        <div class="header">
          <h1>
            AgroSoft
          </h1>
          <div class="user-info">
            <img alt="User Avatar" height="50"
              src="https://storage.googleapis.com/a1aa/image/RevTIOFzc9x2bCniMIpWL4z8VkJn6UGM7QDgbOuny4C2raxJA.jpg"
              width="50" />
            <div class="username">
              XXXXXX
            </div>
            <div class="settings">
              <i class="fas fa-cog">
              </i>
            </div>
          </div>
        </div>
        <div class="nav">
          <button>
            Clientes
          </button>
          <button>
            Dashboard
          </button>
          <button>
            Orçamento
          </button>
          <div class="dropdown">
            <button>
              Gestão
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Produtos</a></li>
              <li><a href="#">Serviços</a></li>
              <li><a href="#">Vendedores</a></li>
            </ul>
          </div>
        </div>
      <div class="form-container">
        <input placeholder="Nome Serviço" type="text" />
        <select>
          <option value="">
            Tipo
          </option>
          <option value="fertilizantes">
            Aluguel de máquinas
          </option>
          <option value="pesticidas">
            Serviços de drone
          </option>
        </select>
        <input placeholder="Preço" type="text" />
        <input placeholder="Imagem" type="text" />
        <textarea placeholder="Descrição"></textarea>
        <button class="submit-btn">
          Cadastrar
        </button>
      </div>
    </section>
  </div>
