.principal {
    background-image: url('../../../../assets/fundo.png');
    background-size: cover; /* Faz a imagem cobrir toda a área da header */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 150px; /* Defina a altura desejada da header */
    color: white; /* Cor do texto */
    display: flex; /* Configuração para alinhar os itens */
    align-items: center; /* Centraliza verticalmente */
    padding: 0 20px; /* Adiciona algum espaçamento lateral */
}
.imagem-empresa {
    
     width: 150px; /* Tamanho total do círculo */
    height: 150px; /* Tamanho total do círculo */
    border-radius: 50%; /* Faz o contêiner ficar redondo */
    overflow: hidden; /* Garante que nada fora do círculo seja mostrado */
    display: flex; /* Centraliza a imagem dentro do círculo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /*Centraliza verticalmente */
   
    
}

.imagem-empresa img {
   
    width: 120px; /* Define a largura desejada */
    height: 120px; /* Define a altura desejada, igual à largura para garantir que seja quadrada */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: contain; /* Garante que a imagem preencha todo o círculo sem distorcer */
    padding: 5%;
}





.conteudo {
    flex-grow: 1; /* Permite que o conteúdo centralize corretamente */
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza horizontalmente o menu e o h1 */
    text-align: center; /* Centraliza o texto */
    margin-right: 200px;
   
}

.conteudo .menu {
    display: flex; /* Organiza os parágrafos em linha */
    gap: 20px; /* Espaço entre os parágrafos */
    margin-bottom: 10px; /* Espaço entre os parágrafos e o h1 */
}
.conteudo .menu p {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    margin-right: 100px; /* Espaço à direita de cada parágrafo */
    /* margin-left: 15px;  // Se precisar mover à esquerda, use este */
}

.principal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #becabc;
    margin: 0; /* Remove a margem padrão do h1 */
}