.principal {
    background-image: url('../../../../assets/Background.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
  


    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3em;
        color: #becabc;
        justify-content: center;/* Centraliza horizontalmente */
        align-items: center;/* Centraliza verticalmente */
        height: 100vh;/* Exemplo de altura, ajustável conforme necessário */
        margin-left: 40%;
      

    }

}